---
interface Props {
    text: string;
    index: string;
    stylos: number
}
const { text, index, stylos } = Astro.props;
---
{
    stylos == 0 ? <h3 id={index} class={"text-2xl mb-4 font-bold bg-yellow-200 inline-block rounded-full px-3 py-1 shadow-md text-black"}>{index}: {text}</h3> : <h3 id={index} class={"text-2xl mb-4 font-bold line-through text-red-800"}>{index}: {text}</h3>
}

  